@function revolution($orbital-year){
  @return $orbital-year * 60 / 365.2563 + s
}

$sun: 45px;
$mercury-orbit : 70px *3; $mercury: 4px *3; 
$venus-orbit : 90px *3; $venus: 6px *3; 
$earth-orbit : 160px *3; $earth: 6px *3; 
$mars-orbit : 190px *3; $mars: 6px *3;
$jupiter-orbit : 340px *3; $jupiter: 10px *3; 
$saturn-orbit : 430px *3; $saturn: 8px *3;
$uranus-orbit : 460px *3; $uranus: 8px *3;
$neptune-orbit : 580px *3; $neptune: 8px *3;




*, *:before, *:after{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

.planets{
    position: absolute;
    margin-left: 70vw;
    margin-top: 20vh;
    
}

.solar-syst{
  &:after{
    content:"";
    position:absolute;
    height:2px;
    width:2px;
    top:-2px;
    background:white;

    border-radius:100px;
  }
  width:100%;
  height:100%;
  position:relative;
  div{
    border-radius:1000px;
    top:50%;
    left:50%;
    position:absolute;
    z-index:999;
    &:not(.sun){
      border: 1px solid #CCC;
      &:before{
        left:50%;
        border-radius:100px;
        content:"";
        position:absolute;
      }
    }

  }
}

.sun{
  background:#555;
  height:$sun;
  width:$sun;
  margin-top: -$sun / 2;
  margin-left: -$sun / 2;
  background-clip: padding-box;
  border:0 !important;
  background-position: -28px -103px;
  background-size: 175%;
}

.mercury{
  height: $mercury-orbit;
  width: $mercury-orbit;
  margin-top: -$mercury-orbit / 2;
  margin-left: -$mercury-orbit / 2;
  animation: orb revolution(87.5) linear infinite;
  &:before{
    height:$mercury;
    width:$mercury;
    background: #555;
    margin-top: -$mercury / 2;
    margin-left: -$mercury / 2;
  }
}

.venus{
  height: $venus-orbit;
  width: $venus-orbit;
  margin-top: -$venus-orbit / 2;
  margin-left: -$venus-orbit / 2;
  animation: orb revolution(224.7) linear infinite reverse;
  &:before{
    height:$venus;
    width:$venus;
    background:#555;
    margin-top: -$venus / 2;
    margin-left: -$venus / 2;
  }
}

.earth{
  height: $earth-orbit;
  width: $earth-orbit;
  margin-top: -$earth-orbit / 2;
  margin-left: -$earth-orbit / 2;
  animation: orb revolution(365.2563) linear infinite;
  &:before{
    height:$earth;
    width:$earth;
    background:#555;
    margin-top: -$earth / 2;
    margin-left: -$earth / 2;
  }
}
.mars{
  height: $mars-orbit;
  width: $mars-orbit;
  margin-top: -$mars-orbit / 2;
  margin-left: -$mars-orbit / 2;
  animation: orb revolution(687) linear infinite;
  &:before{
    height:$mars;
    width:$mars;
    background:#555;
    margin-top: -$mars / 2;
    margin-left: -$mars / 2;
  }
}

.jupiter{
  height: $jupiter-orbit;
  width: $jupiter-orbit;
  margin-top: -$jupiter-orbit / 2;
  margin-left: -$jupiter-orbit / 2;
  animation: orb revolution(4331) linear infinite;
  &:before{
    height:$jupiter;
    width:$jupiter;
    background:#555;
    margin-top: -$jupiter / 2;
    margin-left: -$jupiter / 2;
  }
}
.saturn{
  height: $saturn-orbit;
  width: $saturn-orbit;
  margin-top: -$saturn-orbit / 2;
  margin-left: -$saturn-orbit / 2;
  animation: orb revolution(7470) linear infinite;
  &:before{
    height:$saturn;
    width:$saturn;
    background:#555;
    margin-top: -$saturn / 2;
    margin-left: -$saturn / 2;
  }
  &:after{
    position: absolute;
    content: "";
    height: 16px *3;
    width: 16px *3;
    left: 50%;
    top: 0px;
    margin-left: -8px *3;
    margin-top: -8px *3;
    border-radius: 100px;
    border: 1px solid #AAA;
  }

}

.uranus{
  height: $uranus-orbit;
  width: $uranus-orbit;
  margin-top: -$uranus-orbit / 2;
  margin-left: -$uranus-orbit / 2;
  animation: orb revolution(3058) linear infinite reverse;
  &:before{
    height:$uranus;
    width:$uranus;
    background:#555;
    margin-top: -$uranus / 2;
    margin-left: -$uranus / 2;
  }
}

.neptune{
  height: $neptune-orbit;
  width: $neptune-orbit;
  margin-top: -$neptune-orbit / 2;
  margin-left: -$neptune-orbit / 2;
  animation: orb revolution(5980) linear infinite;
  &:before{
    height:$neptune;
    width:$neptune;
    background:#555;
    margin-top: -$neptune / 2;
    margin-left: -$neptune / 2;
  }
}

.hide{
  display:none;
}
.links{
  margin-top:5px !important;
  font-size:1em !important;
}

@keyframes orb{
  from {
    transform:rotate(0deg)
  }
  to{
    transform:rotate(-360deg)
  }
}